@using MusicNation.Models
@model IEnumerable<Song>

<div class="container">
    @{
        foreach (var song in Model)
        {
            <div>
                <h2>@song.Name</h2>
                <form>
                    <button name="button" value="@song.IdOnDrive" asp-action="Download">Download</button>
                </form>
            </div>
        }
    }
    <div>
        @TempData["buttonval"]
    </div>
</div>
